<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<link rel="canonical" href="{{ .Permalink }}">
{{ range .AlternativeOutputFormats }}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title | safeHTML }}">
{{ end }}

	<title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>

{{ partial "head.html" . }}

	{{ $style := resources.Get "main.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ if and .Site.GoogleAnalytics (not .Site.IsServer) }}
<script>
(function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
;c.parentNode.insertBefore(a,c)
})(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");

galite('create', {{ .Site.GoogleAnalytics }}, 'auto', {'useAmpClientId': true});
galite('send', 'pageview');
</script>
{{ end }}
</head>
<body>
	<header class="masthead clearfix">
		<div class="container">
			{{ with .Site.Params.Icon }}
			<a href="{{ "/" | absURL }}" class="site-avatar">
				<img src="{{ . }}">
			</a>
			{{ end }}

			<div class="site-info">
				<h1 class="site-name">
					<a href="{{ "/" | absURL }}">{{ .Site.Title }}</a>
				</h1>
				{{ with .Site.Params.Description }}
				<p class="site-description">{{ . }}</p>
				{{ end }}
			</div>

			{{ with .Site.Menus.main }}
			<nav>
				{{ range .ByWeight }}
				<a href="{{ .URL }}">{{ .Name }}</a>
				{{ end }}
			</nav>
			{{ end }}
		</div>
	</header>

	<main class="container">
		{{ block "main" . }}{{ end }}
	</main>

	<footer class="wrapper-footer">
		{{ partial "links.html" . }}

		<p>{{ with .Site.Copyright }}{{ . | safeHTML }}{{ else }}&copy; {{ .Site.Title }}{{ end }}</p>
	</footer>
{{ if .Page.HasShortcode "img" }}
<script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script>
const observer = lozad();
observer.observe();
</script>
{{ end }}
</body>
</html>
